@import 'tailwindcss/base';
@import './fonts.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	:root {
		--brand-color: theme('colors.gray.900');
		--brand-color-light: theme('colors.gray.700');
		--brand-color-lighter: theme('colors.gray.500');
		--shadow-color: theme('colors.brand.default-shadow');
	}

	[data-theme='ladies'] {
		--brand-color: theme('colors.pink.600');
		--brand-color-light: theme('colors.pink.400');
		--brand-color-lighter: theme('colors.pink.200');
		--shadow-color: theme('colors.brand.pink-shadow');
	}

	[data-theme='mens'] {
		--brand-color: theme('colors.blue.900');
		--brand-color-light: theme('colors.blue.700');
		--brand-color-lighter: theme('colors.blue.500');
		--shadow-color: theme('colors.brand.blue-shadow');
	}
}
